:root{
    --fontBolder: 700;
    --fontBold: 600;
    --fontAccent: 400;
    --fontPrimary: 'Space Mono', monospace;
    --fontSecondary: 'Inconsolata', monospace;
    --fontOptional: 'Montserrat', sans-serif;
    --txtText: #303030;
    --txtAccent: #757575;
    --borderColor: #e6e6e6;
}
body{
    min-height: 100vh;
    font-family: var(--fontSecondary);
    line-height: 1.6;
    font-size: 16px;
    color: var(--txtText);
}
.container{
    max-width: 100%;
    padding: 0 1.5rem;
}
.bg-light{
    background-color: #d8d8d8;
}
.bg-white{
    background-color: #fff;
}
.text-center{
    text-align: center;
}
/* HEADER */
.header{
    margin: 0.5rem 0;
}
.header__title{
    font-weight: var(--fontBolder);
    font-size: 2rem;
}
/* MAIN */
.hero{
    display: flex;
    flex-direction: column;
}
.hero__img{
    margin: 1.5rem 0 3.5rem 0;
}
.hero__img img{
    width: 100%;
    display: block;
}
.hero__description{
    font-family: var(--fontPrimary);
    font-size: var(--fontAccent);
}
.hero__title{
    font-size: 2.4rem;
    font-weight: var(--fontBolder);
}
.hero__details{
    font-size: 1.25rem;
    padding: 1.5rem 0;
    margin-bottom: 2.5rem;
}
.hero__btn{
    margin-bottom: 3.5rem;
}
.btn-hero, .btn-link{
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    color:#fff !important;
    background-color: var(--txtText);
}
.btn-hero:hover, .btn-link:hover{
    text-decoration: underline;
    background-color: #000;
}
/* FOOTER */
.footer{
    padding: 0.5rem;
}
.footer__copy{
    text-align: center;
    font-family: var(--fontOptional);
    color: var(--txtAccent);
    font-weight: var(--fontBold);
}
/* CARD */
.card{
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    margin-bottom: 1.25rem;
    transition: all 0.25s ease;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    grid-template-areas: "cImagen cTitle"
                        "cImagen cTitle";
}
.card:hover{
    background-color: #1a1a1a;
}
.card:hover .card__title{
    color: #fff;
}
.card:hover .btn-link:hover{
    color: #1a1a1a !important;
    background-color: #ffffff !important;
}
.card__img{
    grid-area: cImagen;
    padding: 0.5rem;
    margin: auto;
    border-right: 1px solid var(--borderColor);
}
.card__img img{
    width: 100%;
    display: block;
}
.card__description{
    grid-area: cTitle;
    padding: 1.5rem 0;
}
.card__title{
    margin-bottom: 1rem;
}
.card__actions, .card__title{
    text-align: center;
}
/* HOME */
.app-title{
    font-size: 2.4rem;
    margin-top: 1.5rem;
}
.app-section{
    width: 100%;
}

/* MEDIAS QUERYS */
/* Tablets */
@media (min-width: 768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
    }
    .hero__img{
        margin: 1.5rem auto;
        width: 80%;
    }
    .app-title{
        margin-top: 2rem;
    }
    .app-section{
        display: grid;
        gap: 2.5rem;
    }
    .app-section, .card{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        height: 25rem;
        grid-template-areas: "cImagen cImagen" "cTitle cTitle";
    }
    .card__img{
        border-right: none;
        border-bottom: 1px solid var(--borderColor);
    }
    .card__img img{
        height: 12.5rem;
        object-fit: cover;
    }
}
/* Desktops */
@media (min-width: 992px) {
    .container{
        max-width: 920px;
    }
    .wrapper, .hero{
        display: grid;
    }
    .wrapper{
        min-height: 100vh;
        grid-template-rows: 5rem 1fr 4rem;
        grid-template-areas: "header" "main" "footer";
    }
    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        grid-area: footer;
    }
    .hero{
        grid-template-columns: repeat(2, 1fr);
    }
    .hero__details{
        margin-bottom: 1.5rem;
    }
    .hero__btn{
        margin-bottom: 2.5rem;
    }
    .app-title{
        margin-top: 2.5rem;
    }
    .app-section{
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img img{
        height: 12rem;
    }
}
/* Televisor */
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
    .card{
        height: 30rem;
        grid-template-rows: 2fr 1fr;
    }
    .card__img img{
        height: 15.5rem;
    }
    .app-title{
        margin-top: 1.5rem;
    }
}